<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hockey Shop - Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">
  <link rel="icon" type="image/png" href="/public/images/LogoHockeyLogo2.png"/>
  <style>
    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f2f2f2; /* Set a background color for the body */
    }

    p {
      text-align: center; /* Center the paragraph text */
    }
  </style>
</head>
<body>
  <header class = "header">

    <div class="site-name">
      <img id="TheRinkLogo" src="/public/images/TheRinkLogo-removebg-preview.png" alt="TheRinkLogo" >
    </div>

  </header>

<div class="sign-up">
  <h1 class="sign-up-h1">Sign Up</h1>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

  <form class="sign-up-form" action="/signup" method="post">
    <!-- Email Field -->
    <label class="register-label-email" for="email">Email:</label>
    <input class="register-input-email" type="email" id="email" name="email" required>
    
    <!-- Password Field -->
    <label class="register-label-password" for="password">Password:</label>
    <input class="register-input-password" type="password" id="password" name="password" required>

    <!-- Confirm Password Field -->
    <label class="register-label-conf-password" for="confirmPassword">Confirm Password:</label>
    <input class="register-input-conf-password" type="password" id="confirmPassword" name="confirmPassword" required>
    
    <!-- Sign Up Button -->
    <button type="submit">Sign Up</button>
  </form>

  <p>Already have an account? <a href="/login">Login</a></p>

</div>
  
</body>
</html>
