<!-- views/userProfile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hockey Shop - User Profile</title>
  <link rel="stylesheet" type="text/css" href="/public/styles.css">

</head>
<body>
  <!-- User Profile Details -->
  <h1>User Profile</h1>
  <!-- Add user profile details, orders, etc. as needed -->

  <a href="/">Back to Home</a>

</body>
</html>
